@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 230, 230, 230;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 250, 250, 250;
    --background-end-rgb: 230, 230, 230;
  }
}

html{
    min-height: 100%;
    overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100%;
  background-image: linear-gradient(0deg, #dcefff 0%, #f7f7f7 100%);
  overflow-x: hidden;
}

.swiper-slide {
    height: auto !important;
}


.ReactModal__Content {
    background-color: transparent !important;
    border: 0 !important;
    padding: 0 !important;

    @media (min-width: 768px) {
        max-width: 600px !important;
        margin: 0 auto !important;
    }
}

.ReactModal__Overlay{
    background-color: rgba(0, 0, 0, 0.5) !important;
}